/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*

    1. Font Face
    2. General
    3. Utilities
    4. Header
    5. Page Content
    6. Footer
    7. Third Party Elements
    8. Media Queries

 */
/* ==========================================================================
   1. Font Face - Sets up the website fonts
   ========================================================================== */
/*

@font-face {
  font-family: 'FontFamilyName';
  src: url('../fonts/fontFolder/fontfile.eot');
  src: url('../fonts/fontFolder/fontfile.eot') format('embedded-opentype'),
       url('../fonts/fontFolder/fontfile.woff2') format('woff2'),
       url('../fonts/fontFolder/fontfile.woff') format('woff'),
       url('../fonts/fontFolder/fontfile.ttf') format('truetype'),
       url('../fonts/fontFolder/fontfile.svg#FontFamilyName') format('svg');
}

*/
/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */
* {
  font-family: 'PT Sans', sans-serif !important;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #597da1;
}

h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
}

h2, h2 a {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  color: #002943;
}

h2.ico-logo,
h2.ico-logo a {
  background: url(../img/ico-logo.png) left center no-repeat;
  padding-left: 20px;
}

h3, h3 a {
  color: #ceb62e;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px #848689 solid;
}

h4, h4 a {
  color: #002943;
  font-size: 22px;
  text-transform: inherit;
}

.hcenter {
  text-align: center;
}

p, ul, ol {
  margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
  margin: 0.4em 0;
}
figure {
  margin: 30px 0;
}
figcaption {
  color: #333;
  font-size: 12px;
}

/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */
.vertical-block {
  text-align: center;
}

.vertical-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.vertical-centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.white-bg {
  background: white;
  padding: 30px 0;
}

.clear-fix:after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 30px;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* ==========================================================================
   4. Header - The top of every page
   ========================================================================== */
header {
  padding: 30px 0;
  background: white;
}

header .logo-desktop {
  width: 110px;
  float: left;
}

header #menu-desktop {
  float: left;
  margin-top: 69px;
}

header #menu-desktop ul {
  margin: 0;
}

header #menu-desktop ul li {
  display: inline-block;
}

header #menu-desktop ul li + li {
  margin-left: 15px;
}

header #menu-desktop ul li a {
  color: #002943;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 15px;
}

header #menu-desktop ul li a.active {
  background: url(../img/arrow-menu-active.jpg) center bottom no-repeat;
  font-weight: bold;
}

header #menu-support .fone {
  position: absolute;
  top: -35px;
  right: 0;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  font-size: 16px;
}

header #menu-support {
  position: relative;
  float: right;
  margin-top: 18px;
  border-right: 1px solid #cdd0d2;
  border-bottom: 1px solid #cdd0d2;
}

header #menu-support ul {
  margin: 0;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 10px;
}

header #menu-support ul li {
  display: inline-block;
}

header #menu-support ul li + li {
  margin-left: 15px;
}

header #menu-support ul li a {
  padding-top: 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: #848689;
}

header #menu-support ul li a.email {
  background: url(../img/ico-email.png) center top no-repeat;
}

header #menu-support ul li a.chat {
  background: url(../img/ico-chat.png) center top no-repeat;
}

header #menu-support ul li a.whatsapp {
  background: url(../img/ico-whatsapp.png) center top no-repeat;
}

header #menu-support ul li a.facebook {
  background: url(../img/ico-face.png) center top no-repeat;
}

#menu-mobile {
  display: none;
}

.navbar-header {
  height: 70px;
}

.navbar-toggle {
  margin-top: 20px;
}

/* ==========================================================================
   5. Page Content - When you click on an individual page
   ========================================================================== */
#dad {
  padding: 50px 0 100px 0;
  background: url(../img/bg.jpg) fixed no-repeat top center;
}

.row-area + .row-area {
  margin-top: 40px;
}

#slider {
  /*background: #dfe7db;*/
  /*padding-bottom: 10px;*/
  position: relative;
}

#slider-container {
  width: 100%;
  overflow: hidden;
  margin: auto;
  display: block;
  /*box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.5);*/
}

#slider-container a,
#slider-container a img {
  height: auto;
  width: 100%;
}

.home-shadow {
  width: 100%;
}

/*#slider .slider-pager {
  display: block;
  text-align: center;
  margin-top: 15px;
}*/
#slider .slider-pager {
  margin-top: 15px;
  position: absolute;
  bottom: -60px;
  width: 100%;
  text-align: center;
  z-index: 999;
}

#slider .slider-pager span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: white;
  border-radius: 100%;
  text-indent: -9999px;
  cursor: pointer;
  transition: 0.5s;
}
#slider .slider-pager span.cycle-pager-active {
  background: #0a8dc8;
}
#slider .slider-pager span + span {
  margin-left: 10px;
}
.block-home {
  border-bottom: 1px solid white;
  height: 280px;
}
.news-thumb {
  width: 285px;
  height: 190px;
  overflow: hidden;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  float: left;
}
.news-thumb img{
  width: 100%;
  height: 100%;
}
.news-excerpt {
  float: left;
  height: 190px;
  width: 150px;
  margin-left: 20px;
  position: relative;
}

.news-excerpt p {
  color: #002943;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  letter-spacing: 1px;
}

.news-excerpt .read-more {
  color: #002943;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
}

.emp-thumb-content {
  text-align: center;
}

.emp-thumb-content .link-ver-todos {
  color: #002943;
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
}

.empreendimento-thumb {
  width: 160px;
  height: 160px;
  position: relative;
  border-radius: 100%;
  border: 8px white solid;
  overflow: hidden;
  display: inline-block;
  transition: 0.5s;
}
.empreendimento-thumb:hover {
  opacity: 0.65;
}
.empreendimento-thumb + .empreendimento-thumb {
  margin-left: 25px;
}

.empreendimento-thumb::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 10px #000000;
  z-index: 2;
}

.empreendimento-thumb img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.inputs-box .input {
  width: 100%;
  border: 1px solid #848689;
  font-size: 14px;
  padding: 5px;
  resize: none;
}
.inputs-box textarea.input {
  height: 100px;
}
.inputs-box .input::-webkit-input-placeholder {
  color: #002943;
  font-size: 12px;
}

.inputs-box .input::-moz-placeholder {
  color: #002943;
  font-size: 12px;
}

.inputs-box .input:-ms-input-placeholder {
  color: #002943;
  font-size: 12px;
}

.inputs-box .wpcf7-form-control-wrap {
  display: block;
  margin-top: -5px;
}

.about-list li {
  color: white;
  font-size: 24px;
  line-height: 42px;
}

h2.ico-logo-up {
  background: url(../img/ico-logo.png) top left no-repeat;
  padding-top: 30px;
}

.video-sobre {
  float: right;
  margin-left: 50px;
  width: 650px;
}

.video-sobre .home-shadow {
  margin-top: -10px;
}

.link-logo-bot {
  background: url(../img/ico-logo.png) bottom right no-repeat;
  padding-right: 30px;
  color: #134068;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  width: 250px;
}

.link-logo-bot:after {
  content: "";
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #134068;
  width: 243px;
}

.shadow-div {
  background: url(../img/shadow-div.png) center left no-repeat;
  padding-left: 30px;
}

.box-diferencial {
  position: relative;
  height: 300px;
  text-align: center;
  padding: 90px 20px;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.red-dif {
  margin: 20px 0 10px 0 !important;
}
.box-diferencial.open {
  height: 670px;
}
.box-diferencial .resumo {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 210px;
  left: 0;
  opacity: 1;
}
.box-diferencial .content-dif {
  transition: 0.5s;
  opacity: 0;
}
.box-diferencial.open .content-dif {
  opacity: 1;
}
.box-diferencial.open .resumo {
  opacity: 0;
}
p.white {
  color: white !important;
}
p.verysmall {
  font-size: 10px !important;
}
.diferencial-title {
  width: 110px;
  text-align: left;
}
.box-diferencial h2 {
  text-transform: inherit;
  font-size: 32px;
  line-height: 36px;
  height: 100px;
}

.box-diferencial p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.box-diferencial.bg-blue-sky p {
  color: #a1f60d;
}

.box-diferencial.bg-blue-dark p {
  color: #0a8dc8;
}
.box-diferencial.bg-white p {
  color: #134068;
}

.box-diferencial.bg-blue-sky h2 {
  background: url(../img/shadow-blue-sky.jpg) center bottom no-repeat;
}

.box-diferencial.bg-blue-dark h2 {
  background: url(../img/shadow-blue-dark.jpg) center bottom no-repeat;
}

.box-diferencial.bg-white h2 {
  background: url(../img/shadow-white.jpg) center bottom no-repeat;
}

.box-diferencial.bg-blue-sky h2,
.box-diferencial.bg-blue-dark h2 {
  color: white;
}

.bg-blue-sky {
  background: #0a8dc8;
}

.bg-blue-dark {
  background: #134068;
}

.bg-white {
  background: #e3e3e9;
}

.red-info {
  color: #681313;
  text-transform: inherit;
  font-size: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin: 10px 0 40px 0;
}

.diferenciais-box {
  height: 175px;
  background: #e3e3e9;
  margin: 15px;
  border-radius: 0 20px 0 0;
  padding: 20px;
  font-size: 10px;
}

.diferenciais-box .thumb {
  float: left;
  margin: 0 10px 20px 0;
}

.diferenciais-box h3 {
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0;
}

.diferenciais-box p {
  margin: 0;
  margin-top: 10px;
}

.diferenciais-box ul {
  margin: 0;
}

.banner-empreendimentos {
  width: 100%;
  height: auto;
  height: 250px;
}

.empreendimento-box {
  background: #e3e3e9;
  padding: 20px 20px 40px 20px;
  position: relative;
  /*border-radius: 0 0 0 20px;*/
}

.empreendimento-box h2 {
  font-size: 20px;
  margin-top: 20px;
}

.empreendimento-box p {
  margin: 10px 0;
  color: #333;
}

.empreendimento-box .thumb {
  overflow: hidden;
  position: relative;
}

.empreendimento-box .thumb img {
  width: 100%;
  height: auto;
}

.empreendimento-status {
  color: white;
  padding: 10px;
}
.empreendimento-box .thumb .empreendimento-status {
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding: 0;
}

.empreendimento-box .thumb .empreendimento-status:before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 22px;
  position: relative;
  float: left;
  left: -22px;
}

.ultimas-unidades {
  background: #1a870a;
}

.empreendimento-box .thumb .ultimas-unidades:before {
  background: url(../img/edge-green.png) center no-repeat;
}

.em-construcao {
  background: #002943;
}

.empreendimento-box .thumb .em-construcao:before {
  background: url(../img/edge-blue-dark.png) center no-repeat;
}

.vendido {
  background: #9b1d21;
}

.empreendimento-box .thumb .vendido:before {
  background: url(../img/edge-red.png) center no-repeat;
}

.empreendimento-box .thumb > .empreendimento-status > span {
  line-height: 10px;
  font-size: 10px;
  padding: 5px;
}

.empreendimento-box .read-more {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 18px;
  color: #9b1d21;
}

.contact h3 {
  color: #134068;
  border: none;
  margin-bottom: 5px;
}

.contact h2 {
  text-transform: inherit;
}

.contact p {
  color: #134068;
  margin: 0;
  font-size: 16px;
}

.interesse {
 
}

.left-garage {
  float: left;
  margin-top: 20px;
  width: 50%;
  text-align: left;
}
.left-garage p {
  margin-left: 10px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 15px;
}

.interesse .left {
  float: left;
  margin-top: 10px;
}

.border-box {
  color: white;
  background: #002943;
  border: 2px solid #002943;
  padding: 5px 15px;
  transition: 0.5s;
}
.blog-roll {
  background: rgba(0, 41, 67, 0.7);
  padding: 40px;
}

.blog-roll p {
  font-size: 12px;
}

.blog-roll h2 {
  color: #e3e3e9;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}
.blog-roll h3 {
  padding-top: 15px;
}
.blog-roll h3,
.blog-roll p {
  color: white;
}

.post {
  border-bottom: #134068 1px solid;
  padding-bottom: 20px;
}

.post p + p{
  margin-top: 30px;
}

.blog-roll .post + .post {
  margin-top: 60px;
}

.blog-roll .thumb img {
  width: 280px;
  box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.5);
}

.blog-roll .thumb {
  text-align: left;
  margin-bottom: 30px;
}

.blog-roll-map {
  margin-top: 30px;
}

.blog-roll-map h1 {
  background: url(../img/ico-logo-white-small.png) top left no-repeat;
  padding-top: 25px;
  font-size: 17px;
  color: white;
}

.blog-roll-map h2 a {
  background: url(../img/ico-logo-ball.png) center left no-repeat;
  padding-left: 20px;
  font-size: 16px;
  color: #002943;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #002943;
}

.blog-roll-map .link-post {
  display: block;
  font-size: 14px;
  color: #002943;
  letter-spacing: 0;
  margin-left: 10px;
}

.empreendimento-row {
  display: block;
}

.banner-empreendimento {
  width: 100%;
  height: auto;
}

.video-embed iframe,
.gmaps iframe {
  width: 100%;
  height: 400px;
}

.img-block {
  width: auto;
  float: right;
  height: 405px;
}

.img-block a {
  display: inline-block;
  width: 49%;
  height: 131px;
  overflow: hidden;
}

.img-block img {
  width: 100%;
  height: auto;
}

.row-emp + .row-emp {
  margin-top: 40px;
}

.planta {
  padding: 2%;
  width: 65%;
  height: 540px; 
  float: left;
  overflow: hidden;
  background: white;
  border-radius: 20px 0px 0px 0px;
}

.planta-right {
  width: 33%;
  margin-left: 2%;
  float: left;
}

.planta a {
  display: block;
}

.planta #slider-container a {
  height: 100%;
}
/*.planta .plant-element-sl:before {
  content: "Para ampliar o zoom, clique sobre a imagem";
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 100px;
  color: #848689;
  line-height: 14px;
  font-size: 14px;
  background: url(../img/lupa.png) center left no-repeat;
  padding-top: 80px;
}*/
.planta .plant-element-sl img{
  transition: 0.5s;
}
.planta .plant-element-sl:hover img{
  opacity: 0.3;
}
.planta .plant-element-sl:before {
  transition: 0.5s;
}
.planta .plant-element-sl:hover:before {
  background: url(../img/lupa-zoom.png) center no-repeat;
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.planta a img {
  width: 100%;
  height: 620px;
}

.planta-nav {
  background: #134068;
  height: 540px;
  padding: 15%;
  border-radius: 0px 20px 0px 0px;
}

.planta-nav a {
  font-size: 16px;
  color: white;
  display: block;
}

.planta-nav a + a {
  margin-top: 15px;
}

.planta-download {
  color: #333;
  font-size: 12px;
  background: url(../img/pdf-download.png) center left no-repeat;
  padding: 10px 0 10px 10px;
  padding-left: 40px;
  margin-top: 20px;
  display: block;
}

.emp-dad {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.emp-diferenciais .diferenciais-box {
  height: 115px;
  margin: 15px 0;
}

.emp-diferenciais img {
  width: 75px;
  height: 75px;
}

.emp-diferenciais h3 {
  margin-top: 6px;
}

.pq-escolher span {
  margin: 8px 0;
  text-transform: uppercase;
  color: #002943;
  font-size: 14px;
  background: url(../img/emp-ico-taxa.png) center left no-repeat;
  padding: 10px 0 10px 45px;
  display: inline-block;
}

.emp-veja-tbm {
  margin-top: 80px;
}

.emp-veja-tbm .border-box {
  display: inline-block;
}

.emp-veja-tbm br + .border-box {
  margin-top: 15px;
}

.download-app {
  text-align: right;
  margin-top: 170px;
  background: url(../img/download-ico-blue.png) top center no-repeat;
  padding-top: 50px;
}

.download-app a {
  color: #002943;
  font-size: 20px;
}

.download-app a img {
  float: right;
  margin-left: 20px;
  margin-top: 9px;
}

.empreendimento-map.fixed {
  position: fixed;
  top: 50px;
  z-index: 999;
}

.acesso-direto {
  background: url(../img/ico-logo.png) left top no-repeat;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px white solid;
}

.empreendimento-map.invisible {
  opacity: 0;
}

.empreendimento-map {
  position: relative;
  width: 260px;
  top: 0;
  transition: 0.5s;
  opacity: 1;
}

.empreendimento-map h1 {
  font-size: 20px;
  text-transform: inherit;
  color: white;
}

.empreendimento-map a {
  margin-top: 10px;
  background: #002943;
  color: white;
  display: inline-block;
  padding: 10px;
}
.emp-dad h2 {
  padding-top: 30px;
  color: #681313;
  text-align: center;
}
.white-area-fina {
  background: rgba(255,255,255,0.2);
  padding: 20px 0;
}
.white-area {
  background: rgba(255,255,255,0.2);
  padding: 40px 0;
}
.white-area-padding {
  background: rgba(255,255,255,0.2);
  padding: 40px;
}
.content-post p{
  font-size: 14px;
  color: #333;
}
.content-post p + p {
  margin-top: 20px;
}
.empreendimento-thumb {
  position: relative;
}
.status-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.status-home .empreendimento-status {
  display: none;
}
.status-home .empreendimento-status.vendido {
  display: block;
  opacity: 0.75;
}
/* ==========================================================================
   6. Footer - The bottom of every page
   ========================================================================== */
footer {
  padding: 25px 0 0 0;
  background: url(../img/bg-footer.png) center top;
}

footer .contact-banner {
  position: relative;
}

footer .contact-banner img {
  position: absolute;
  top: -47px;
}

footer #menu-support {
  float: right;
  margin-top: 18px;
}

footer #menu-support ul {
  margin: 0;
}

footer #menu-support ul li {
  display: inline-block;
}

footer #menu-support ul li + li {
  padding-left: 30px;
  margin-left: 30px;
  border-left: 1px white solid;
}

footer #menu-support ul li a {
  min-width: 43px;
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

footer #menu-support ul li a.email {
  background: url(../img/ico-email-footer.png) center top no-repeat;
}

footer #menu-support ul li a.chat {
  background: url(../img/ico-chat-footer.png) center top no-repeat;
}

footer #menu-support ul li a.whatsapp {
  background: url(../img/ico-whatsapp-footer.png) center top no-repeat;
}

footer #menu-support ul li a.facebook {
  background: url(../img/ico-face-footer.png) center top no-repeat;
}

footer #menu-support ul li a.app {
  background: url(../img/ico-logo-footer.png) center top no-repeat;
}

footer #menu-support ul .phone {
  color: white;
  font-size: 20px;
  position: relative;
  width: 160px;
}

footer #menu-support ul .phone .phone-number {
  position: absolute;
  top: -50px;
}

footer #menu-support ul .phone .ddd {
  font-size: 16px;
}

footer #bread-crumb {
  display: block;
  text-align: center;
  margin-top: 20px;
}

footer #bread-crumb, footer #bread-crumb a {
  color: #848689;
  font-size: 14px;
}

.breadscrumb-row {
  background: url(../img/bg-breadcrumb.jpg) center top;
  padding: 20px 0 10px 0;
}

.breadcrumbs ,.breadcrumbs a {
  font-size: 12px;
  color: white;
}
.breadcrumbs h1 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}
.breadcrumbs h1 span {
  color: yellow;
}
footer .text-block p {
  color: white;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

footer .text-block p + p {
  margin-top: 5px;
}

footer .text-block + .text-block {
  margin-top: 30px;
}

form {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 30px 60px 30px;
  border-radius: 20px;
}
form input[type="submit"] {
  background: #0a8dc8;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  float: right;
  margin-top: 10px;
}

footer .footer-bar {
  padding: 25px 0;
  margin-top: 90px;
  background: #cdd0d2;
}

footer .footer-bar .footer-bar-content {
  text-align: center;
}

footer .footer-bar .footer-bar-content div {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #848689;
}

footer .footer-bar .footer-bar-content span {
  color: #848689;
  letter-spacing: 1px;
  font-size: 14px;
}
.mapa-site {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mapa-site li a{
  color: white;
}
.mapa-site ul {
  padding-left: 20px;
  list-style-type: square;
  color: white;
}
.mobile-content {
  display: none;
}
/* ==========================================================================
   7. Third Party Elements - Embeds from other services
   ========================================================================== */
.gmaps iframe {
  width: 100%;
  height: 300px;
}

.fb-share-button {
  float: right;
  margin-top: 10px;
}
.fb-solto {
  float: inherit;
  margin: 10px 0 30px 0;
}

/* ==========================================================================
   8. Media Queries - 
   ========================================================================== */
@media (max-width: 768px) {
  body {
    background: white;
  }
  #dad {
    background: none;
    padding: 30px 20px;
  }
  .nomobile-content,
  .zopim {
    display: none;
  }
  .mobile-content {
    display: block;
  }
  header {
    padding: 0;
    height: auto;
    overflow: hidden;
  }
  footer {
    background: none;
  }
  .mobile-header {
    height: 82px;
  }
  .mobile-header-fix {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  .mobile-title {
    width: 70%;
    display: block;
    float: left;
    background: #041c3e;
    padding: 30px 20px;
    box-sizing: border-box;
  }
  .mobile-title h1 {
    float: right;
    color: white;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background: url(../img/ico-logo-white-small.png) center left no-repeat;
    padding-left: 30px;
  }
  .mobile-menu-hook {
    width: 30%;
    display: block;
    float: left;
    background: #005fb1;
    padding: 31px 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .mobile-menu-hook span {
    color: white;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    float: left;
    margin: 0;
    padding: 0;
  }
  .mobile-menu-hook span:after {
    content:">";
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
  }
  .mobile-menu {
    clear: both;
    max-height: 0;
    transition: 1.25s;
    overflow: hidden;
    background: white;
    opacity: 0;
  }
  .mobile-menu.active {
    max-height: 500px;
    opacity: 1;
  }
  .mobile-menu ul {
    margin: 0;
    padding: 0;
  }
  .mobile-menu ul li {
    list-style: none;
    text-align: center;
  }
  .mobile-menu ul {
    padding: 30px 0;
  }
  .mobile-menu ul li + li {
    margin-top: 15px;
  }
  .mobile-menu ul li a {
    width: 80%;
    background: #005fb1;
    display: block;
    margin: auto;
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
  }
  .mobile-menu ul li a:focus,
  .mobile-menu ul li a:hover {
      text-decoration: none;
    }
    .video-sobre {
      margin-bottom: 30px;
    }
    .video-sobre,
    .video-sobre iframe {
      width: 100%;
      height: 200px;
    }
    .video-sobre .home-shadow {
      margin-top: -20px;
    }
    h2.ico-logo-up {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }
    .about-list li {
      color: #002943;
      font-size: 14px;
      line-height: 18px;
    }
    .conheca-mobile {
      background: #005fb1;
    }
    .conheca-mobile a {
      color: white;
      text-decoration: none !important;
    }
    .mobile-footer {
      text-align: center;
      color: #005fb1;
      padding-bottom: 30px;
    }
    .mobile-footer span {
      color: #005fb1;
      font-size: 14px;
    }
    .mobile-footer span span {
      font-size: 22px;
    }
    .modal {
      top: 90px;
    }
    .white-area-padding {
      padding: 0;
    }
    .box-diferencial {
      height: 140px;
      padding: 30px 20px;
      margin-bottom: 10px;
    }
    .box-diferencial h2 {
      font-size: 17px;
      line-height: 19px;
      text-transform: uppercase;
      padding-bottom: 10px;
      background: none !important;
      height: auto !important;
    }
    .box-diferencial .resumo {
      top: 80px;
    }
    .box-diferencial .resumo p {
      font-size: 14px;
      line-height: 16px;
    }
    .diferenciais-box {
      margin: 5px 0;
      padding: 0;
      height: 70px;
      box-sizing: border-box;
    }
    .diferenciais-box .thumb {
      margin: 0;
      float: right;
      border-left: 5px solid white;
      height: 70px;
    }
    .diferenciais-box .thumb img {
      height: 100%;
      width: auto;
    }
    .diferenciais-box p ,
    .diferenciais-box ul,
    .diferenciais-box a {
      display: none;
    }
    .diferenciais-box h3 {
      padding-left: 30px;
      line-height: 70px;
      font-weight: normal;
      font-size: 13px;
    }
    .diferenciais-box.fechadura,
    .diferenciais-box.fechadura h3 {
      background: #005fb1;
      color: white;
    }
    .diferenciais-box.aquecimento,
    .diferenciais-box.aquecimento h3 {
      background: #a0a0ac;
      color: white;
    }
    .diferenciais-box.bicicleta,
    .diferenciais-box.bicicleta h3 {
      background: #041c3e;
      color: white;
    }
    .diferenciais-box.pisoquente,
    .diferenciais-box.pisoquente h3 {
      background: #ae1f1e;
      color: white;
    }
    .diferenciais-box.arcond {
      background: #c7ff00;
    }
    .diferenciais-box.cftv ,
    .diferenciais-box.cftv h3{
      background: #1e681a;
      color: white;
    }
    .empreendimento-box {
      margin-bottom: 15px;
    }
    .empreendimento-box .thumb .empreendimento-status:before {
      left: -21px;
    }

}
@media (min-width: 992px) and (max-width: 1200px) {
  .emp-thumb-content {
    text-align: center;
  }

  .empreendimento-thumb + .empreendimento-thumb {
    margin: 0;
  }

  .news-excerpt {
    margin-top: 30px;
    width: 265px;
    height: 145px;
  }

  .block-home {
    height: 435px;
  }

  .box-diferencial h2 {
    font-size: 22px;
  }

  .emp-diferenciais h3 {
    font-size: 10px;
  }
}
